.picDiv {
    padding-bottom: 30px;
}

.aboutIntro {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.aboutPage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 16px;
}

.aboutContent {
    display: flex;
}

.aboutP1 {
    padding-left: 40px;
    margin-top: 45px;
}